# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# IDEs (Visual Studio Code)
.vscode/

# Ignore distribution folders
dist/
build/
*.egg-info/

# dataset
projet2/datasets/*

# models
**/model/*